html, body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

body {
  margin-bottom: 0;
}

.container {
  max-width: 1100px;
}

.card {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.title {
  font-weight: bold;
  font-size: clamp(2rem, 6vw, 4.5rem);
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: none;
}

.input-group .btn {
  border-radius: 0;
}

.input-group .form-control {
  border-right: none;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
  border: none;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dropdown-item {
  white-space: normal;
}

#search-form {
  position: relative;
}

#search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000; /* To make sure dropdown is displayed on top of other elements */
}

#stock-history .card {
  min-height: 100%;
}

#stock-list .col-md-2 {
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#stock-name {
  display: flex;
  align-items: center;
  margin: 0;
}

.stock-symbol, .percent-change, .change-indicator {
  margin: 0;
  padding: 0;
}

.stock-subtitle {
  font-size: 0.8em; /* Adjust as needed */
  margin-left: 5px; /* Add some space between the elements */
}

.change-indicator {
  font-size: 0.6em; /* Make the triangle smaller */
}


.live-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #198754; /* Changed color to Bootstrap's success color */
  border-radius: 50%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.live-indicator-blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

#error-message {
  border-radius: 12px; /* slight rounding for all devices */
  z-index: 9999; /* ensure it appears above other elements */
}

