@model List<FinnHubTest.Models.Stock>

<div class="container">
    <div class="row mt-5 align-items-center"> <!-- Added align-items-center for vertical alignment -->
        <div class="col-md-8 d-flex"> <!-- Added d-flex for a flex container -->
            <!-- Title -->
            <h4 class="mr-3">Favorites</h4> <!-- Made the title smaller with h4, and added right margin -->
            <!-- Add Favorite form -->
            <form asp-controller="Favorites" asp-action="Add" method="post" class="input-group">
                <input type="text" class="form-control" placeholder="Stock symbol" name="symbol"
                       style="border-top-left-radius: 20px; border-bottom-left-radius: 20px; 
                        border-right: none; box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);">
                <button type="submit" class="btn btn-primary"
                        style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;
                        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);">Add Favorite</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <div style="border: 1px solid #d1d1d1; border-radius: 10px; box-shadow: 0 2px 10px rgba(32, 33, 36, 0.28); padding: 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Percent Change</th>
                            <th></th> <!-- For Remove Button -->
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var stock in Model)
                    {
                        <tr>
                            <td>@stock.Symbol</td>
                            <td>@stock.Price.ToString("0.00")</td>
                            <td>@stock.PercentChange.ToString("0.00")%</td>
                            <td>
                                <form asp-controller="Favorites" asp-action="Remove" method="post">
                                    <input type="hidden" name="symbol" value="@stock.Symbol" />
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
